{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="text-center">
        <h2>Order details</h2>
    </div>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <th>Order ID</th>
            <th>Customer</th>
            <th>Address</th>
            <th>Date</th>
            <th>Seller</th>
            <th>Total €</th>
        </thead>
    
        <tbody>
            <td>
                {{ order[0].sale_id}}
            </td>
            <td>
                {{ order[0].customer_name }}
            </td>
            <td>
                {{ order[0].sale_address }}
            </td>
            <td>
                {{ order[0].sale_date.strftime("%Y-%m-%d %H:%M:%S") }}
            </td>
            <td>
                {{ order[0].first_name }} {{ order[0].last_name }}
            </td>
            <td>
                {{ order[0].total_cost / 100 }}
            </td>

        </tbody>
        </tbody>
    </table>
    <h4>Products in order</h4>
    <table class="table table-striped">
        {% for product in products_list %}
        <tbody>
            <td> {{ product.product_name }} </td>
            <td> {{ product.quantity }}</td>
        </tbody>
        {% endfor %}
    </table>

    <a class="btn btn-primary" href="/order_add/{{ order[0].sale_id }}" role="button">Add products to order</a>
</form>
</div>
{% endblock %}
