{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="text-center">
        <h2>Product details</h2>
    </div>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <th>Product Name</th>
            <th>Product ID</th>
            <th>Quantity</th>
            <th>Manufacturer</th>
            <th>Price € / unit</th>
        </thead>
    
            <tbody>
                <td>
                    {{ product.name }}
                </td>
                <td>
                    {{ product.id }}
                </td>
                <td>
                    {{ quantity }}  
                </td>
                <td>
                    {{ product.manufacturer }}
                </td>
                <td>
                    {{ product.price / 100 }}
                </td>
                
        </tbody>
    </table>
    <h4>Stock in Warehouse</h4>
    <table class="table table-striped">
        {% for warehouse in warehouses %}
        <tbody>
            <td> {{ warehouse.name }} </td>
            <td> {{ warehouse[2] }}</td>
        </tbody>
        {% endfor %}
    </table>
        
    <h4>Product description:</h4>
    <p>
        {{ product.description }}
    </p>
</div>
{% endblock %}
