{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="text-center mt-3">
        <h2>Product info</h2>
    </div>
    <form method="POST">
        <input type="hidden" name="csrf" value="{{ session.csrf }}">
        <div class="row justify-content-center my-5">        
            <div class="col-4">
                {{ form.csrf_token }}
                {{ form.product_search(class="form-control", placeholder="Search for product...")}}              
            </div>              

        </div>
        <div class="row justify-content-center my-5">
            <div class="col-2">{{ form.order(class="form-control") }}</div>
            <div class="col-2">{{ form.asc_or_desc(class="form-control") }}</div>
            <div class="col-2">{{ form.sort(class="btn btn-primary")}}</div>
        </div>
    </form>
</div>
    
<div class="container">
    <table class="table table-striped">
        <thead>
            <th>Product Name</th>
            <th>Product ID</th>
            <th>Quantity</th>
            <th>Manufacturer</th>
            <th>Price €</th>           
        </thead>
        {% if products  %}

            {% for product in products %}
                <tbody>
                    <td>
                        {{ product.name }}
                    </td>
                    <td>
                        {{ product.id }}
                    </td>            
                    <td>
                        {{ product[2]}}
                    </td>
                    <td>
                        {{ product.manufacturer }}
                    </td>
                    <td>
                        {{ product.price / 100 }}
                    </td>
                    <td>
                        <a class="btn btn-primary" href="/product_details/{{ product.id }}" role="button">Details</a>
                    </td>
                </tbody>
            {% endfor %}
        {% endif %}

    </table>
</div>

{% endblock %}  
