{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="text-center mt-3">
        <h2>Product info</h2>
    </div>
    <div class="row justify-content-center my-5">        
        <div class="col-lg-6">
            <form method="POST" class="form form-horizontal search">             
                    {{ form.csrf_token }}
                    {{ form.product_search(class="form-control", placeholder="Search for product...")}}              
                    <div class="input-group-prepend">
                        {{ form.search(class="btn btn-primary")}}
                    </div>              
            </form>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-4">{{ sorting_form.order(class="form-control") }}</div>
        <div class="col-4">{{ sorting_form.asc_or_desc(class="form-control") }}</div>
        <div class="col-4">{{ sorting_form.sort(class="btn btn-primary")}}</div>
    </div>

</div>

{% endblock %}
